version: 0.1
log:
  accesslog:
    disabled: false
  level: info
  fields:
    service: registry
    environment: development
storage:
  delete:
    enabled: true
  cache:
    blobdescriptor: inmemory
  filesystem:
    rootdirectory: /var/lib/registry
http:
  addr: 127.0.0.1:5000
  host: https://127.0.0.1:5000
  secret: notasecret123
  tls:
    certificate: /certs/registry.crt
    key: /certs/registry.key
  debug:
    addr: 127.0.0.1:5001
  headers:
    X-Content-Type-Options: [nosniff]
auth:
  htpasswd:
    realm: class-realm
    path: /htpasswd
health:
  storagedriver:
    enabled: true
    interval: 10s
    threshold: 3

