-----BEGIN CERTIFICATE-----
MIIEpDCCAowCCQCrIQ33bLQYbzANBgkqhkiG9w0BAQsFADAUMRIwEAYDVQQDDAkx
MjcuMC4wLjEwHhcNMTcxMjI2MTkwNDQyWhcNMTgwMTA5MTkwNDQyWjAUMRIwEAYD
VQQDDAkxMjcuMC4wLjEwggIiMA0GCSqGSIb3DQEBAQUAA4ICDwAwggIKAoICAQDi
aLHsMZ0UcQAzg9y/vlr52hJH5DN8vg1J6WrsRu2biuslTNoirbxwuar6WsKbYBmb
teMsIwr5llnCiIK/x4eUUVxlB0KaL/GeAHmHtNlHrtoNE9MuKdHQv/WQos2ldd/g
N1K/Mqgn9d1qEQWNFki7eSIm/OYBhS1v4GwS5cRKeBlEtvynzSr7LeF/vMXU6To3
SqQcaj7D8ecimE80GdlTZNYJhDu3gD1Ubb3ndSQzSF9YzL5CTd2NIqdfXL3eH5eu
elgQM7LV49a0DBcqnYO/ZupK1w4HjSaiGXNwCVURdTecPlGHF8rGUtbK3yHewwn8
8u6jbCVQqRs/6Vgj5fGX1YDwBRc/+iBoyvWVgWEWPSUukiTv4XN0Gsz1CXEthaxb
GphehIuuERoaXKubBzGH+n3Mnf82hTW7qmbA3BYNb5QWr51dNCBIu2UaMFQ4CVCb
9MeHVSQ/+zJ680/4Ab/O7k6dVeEDVAEFKmM88wSyMaNHO7j2HRm36oUAxLc6+LXm
7bfCrbBhowiSG4IZBjiLrVQb8kCbC3BZHP9UjhU3lVe2wCCdnLFmb2Vtw4qLHy9I
nsb4CxAa1fpP2e+YxUlAXG6G+gPEExFNx1i2euXdrOQLrYZMKJj5v3aLwQAQW4uy
p2GRwliDjtuWTnTS4OAKeDdZiYOv2YicYzLrsexx+wIDAQABMA0GCSqGSIb3DQEB
CwUAA4ICAQByOrTpypfhiUIXq5WBnSV1cZW4/EPgzbK2EIM00ieK5BuIADcWS5+5
mh4s9vDDVyT+7i9HjX33lxlppKOzoGQzk9D89G/oweV6hIyAfezALd0n0XjgheOX
F1iWnJ3s4lOI+MTfs9Y43vc2sqeBdC3bsMJPUdgFkGm8gtUoDB4IOHCu2Vti7WEs
8C/drX31oVBAbILnYBfm4ltde1r9uH8EkvxxRfoIliAwpqSYo2jSkJqXX1TVb3vl
J/Yjwmx+iNkqQCZ8L+X6ZTwn80YLUE1eIhnuyfpeC/NSmBgPoWosWBecmD4RQAds
oFgQUUTGzvs5Ls5E9zdhESReFypdbbUCO65vTw4UBM8McpfwzqZ0I/bYN1ELNWnk
nGtq7TewQ0DxiImnin2SrRUb21I0gK+qGd5hQUNkaD+m2INVBnf6bV8kTeAd+gR5
dtn6DaNNI6L8RYCy8xo06FvLK+TrKCaUj6edZckNSCpnNAWJCBIpq7QMqGQbfXZz
oITUVLP8kFjPQvwcwET/8JJebpgG986is6xYpdfKJUJKJowsHIaJfwcgecY6N33v
7VJ+Lo0bMvgwPc5XxTg4EMcftxWRjubn2OYt1YRBTBkfaiJRYsT1cSnDVSFhZiJh
l5M/OrWjS0IbIoYH+SfadMsYPAfhhd/33uAxqkCsAuru7vLsN1OfMA==
-----END CERTIFICATE-----
